<div class="footer footer-expand-sm" id="footer">

  <div class="footer-links justify-content-center">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
   <p class="text-center"> Made with <i class="fas fa-heart ml-2"></i> at <a href="https://lewagon.com"> Le Wagon</a></p>
  </div>

  <div>
    <p class="m-0 text-center font-weight-light">© 2020 MyWay, Inc. All rights reserved.</p>
  </div>
</div>
