<div class="footer footer-expand-sm" id="footer">

  <div class="footer-links justify-content-center p-2">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright border-bottom">
   <p class="text-center p-2"> Made with <i class="fas fa-heart ml-2"></i> at <a href="https://lewagon.com"> Le Wagon</a></p>
  </div>

  <div>
    <p class="text-center font-weight-light pt-4">© 2020 MyWay, Inc. All rights reserved.</p>
  </div>
</div>
