<div class="text-center">
  <div class="bg mb-8">
    <div class="banner-content">
      <div class=mb-4>
        <h2 class="welcome font-weight-light">FIND A LOCAL</h2>
        <h4 class="text-left text-white pb-2"> A new experience with a local expert</h4>
      </div>
      <%= form_tag offers_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Marseille"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<!-- <div class="background">
  <div class="cont">
    <div class="my-4">
     <div class="container">
      <div class="explications header-home">
        <div class="row">
        <div class="half-left col-6">
          <h1>Trouvez votre guide local</h1>
          <p class= "subtitle"> Avec MyMap, trouvez un <i class="highlighted"> guide</i>  local qui vous
          correspond et partagez une experience unique. </p>
        </div>
        <div class="half-right col-6">
        </div>
      </div>
      </div>
      <div class="explications2 header-home">
        <div class="row">
        <div class="pict col-6">
        </div>
        <div class="geo col-6">
          <h1> Localisez planifiez</h1>
          <p> Avec MyMap vous vous pouvez localiser les guides disponibles ou planifier un rendez-vous </p>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
 </div>
</div> -->

<div class="home-content m-3 p-5">
  <div class="text m-5 p-5">
    <div class="row">

      <div class="col-6">
        <div class="trouver">
          <h1>Trouvez votre guide local</h1></br>
          <p class= "subtitle"> Avec MyMap, trouvez un <i class="highlighted"> guide</i>  local qui vous
          correspond et partagez une experience unique. </p>
        </div>
      </div>

      <div class="col-6">
        <div class="hobbit p-3">
        </div>
      </div>

    </div>
  </div>

<div class="text p-5">
  <div class="row">

    <div class="col-6">
      <div class="pict">
      </div>
    </div>
    <div class="col-6">
      <div class="localisez">
        <h1> Localisez planifiez</h1></br>
        <p> Avec MyMap vous vous pouvez localiser les guides disponibles ou planifier un rendez-vous </p>
      </div>
    </div>
  </div>
</div>
</div>
