<div class="text-center">
  <div class="bg mb-5">
    <div class="banner-content">
      <div class=mb-4>
        <h3 class="welcome">Travel like a local, live experiencies</h3>
        <h5 class="find text-left text-white pb-2">Find a guide</h5>
      </div>
        <%= form_tag offers_path, method: :get do %>
          <div class="d-flex">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Marseille"
          %>
          <%= submit_tag "Search", class: "btn btn-warning" %>
        </div>
      <% end %>
      <%= link_to offers_path do %>
      <h5 class="all-offers font-weight-light mt-4 text-left">All the offers</h5>
      <% end %>
    </div>
  </div>

<div class="home-content m-3 p-5">

<div class="text p-5">
  <div class="row">

    <div class="col-6">
      <div class="trouver">
        <i class="fas fa-search-location pins"></i>
        <h1 class= "m-3">Trouvez votre guide</h1></br>
        <p class= "subtitle"> Avec MyMap, trouvez un guide local qui vous
        correspond et partagez une experience unique. </p>
      </div>
    </div>
    <div class="col-6">
      <div class="localisez">
        <i class="fas fa-pen-square pins"></i>
        <h1 class= "m-3">Localisez et planifiez</h1></br>
        <p>Avec MyMap vous vous pouvez localiser les guides disponibles et planifier un rendez-vous.</p>
      </div>
    </div>
  </div>
</div>
</div>
