<div class="contailer text-center">
  <div class="bg">
        <h1 class="welcome">Welcome</h1>
      <div class="btn">
        <%= link_to "View all offers", offers_path, class: 'link-to-text-color' %>
      </div>
      <div class="btn btn-custom">
        <%= link_to "Add an offer", new_offer_path %>
      </div>
  </div>

  <div class="explications">
  </div>
</div>
