<div class="text-center">
  <div class="bg mb-8">
    <div class="banner-content">
      <div class=mb-4>
        <h2 class="welcome font-weight-light">FIND A LOCAL</h2>
        <h4 class="text-left text-white pb-2"> A new experience with a local expert</h4>
      </div>
      <form class="form-inline mb-4">
        <input class="form-control sm-2" name="query" placeholder="Marseille" aria-label="Search">
        <button class="btn btn-secondary discover-btn my-2 my-sm-0" type="submit">Discover</button>
      </form>

      <div class="buttons d-flex">
        <div class="button">
          <%= link_to "View all offers", offers_path, class: 'link-to-text-color' %>
        </div>
        <div class="button btn-custom">
          <%= link_to "Create an offer", new_offer_path %>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="my-4">
      <div class="explications header-home">
        <div class="half-left">
          <h1>Trouvez votre guide local</h1>
          <p class= "subtitle"> Avec MyMap, trouvez un <i class="highlighted"> guide</i>  local qui vous
          correspond et partagez une experience unique. </p>
        </div>
        <div class="half-right">
        </div>
      </div>

      <div class="explications2 header-home">
        <div class="pict">
        </div>
        <div class="geo">
          <h1> Localisez planifiez</h1>
          <p> Avec MyMap vous vous pouvez localiser les guides disponibles ou planifier un rendez-vous </p>
        </div>
      </div>
    </div>
  </div>
</div>
