<div class="text-center">
  <div class="bg" >
    <div class="banner-content">
      <h1 class="welcome">Welcome</h1>

      <form class="form-inline mb-4">
        <input class="form-control sm-2" name="query" placeholder="Marseille" aria-label="Search">
        <button class="btn btn-outline-secondary discover-btn my-2 my-sm-0" type="submit">Discover</button>
      </form>

    </div>
  </div>


  <div class="container">
    <div class="my-4">
      <div class="explications header-home">
        <div class="half-left">
          <h1>Trouvez votre guide local</h1>
          <p class= "subtitle"> Avec MyMap, trouvez un <i class="highlighted"> guide</i>  local qui vous
          correspond et partagez une experience unique. </p>
        </div>
        <div class="half-right">
        </div>
      </div>

      <div class="explications2 header-home">
        <div class="pict">
        </div>
        <div class="geo">
          <h1> Localisez planifiez</h1>
          <p> Avec MyMap vous vous pouvez localiser les guides disponibles ou planifier un rendez-vous </p>
        </div>
      </div>
    </div>
  </div>
</div>
