<div class="bgh">
  <div class="container">
    <div class="row">
      <div classs="infos col-6">
        <div class="contour">
          <h1>Create an offer</h1>
          <%= render 'form', offer: @offer %>
          </br>
        </div>
     </div>
    </div>
  </div>
  <p><%= link_to "Cancel", dashboard_path(current_user), class: "btn btn-outline-info" %></p>
</div>

<div class="presentation">
  <div class="container">
    <div class="row">
      <div class="pourquoi col-6">
        <h2>Pourquoi MyMap</h2>
        <p> MyMap allows you to find a roundly available guide immediately around you.</p>
        <p> Easier and smarter way to find a local guide when traveling </p>

      </div>
      <div class="devenir col-6">
        <h2>Become Guide</h2>
        <p> Thanks to MyMap, you can also become a guide to others.</p>
        <p> Earn money by showing people how much you city is the best around the world</p>
      </div>
    </div>
  </div>
</div>
