<div class="bgh">
  <div class="contour">
    <h1 class="text-center text-warning">Create an offer</h1>
    <%= render 'form', offer: @offer %>
    </br>
  </div>
</div>


<div class="presentation">
  <div class="row">
    <div class="col-6">
      <div class="pourquoi container">
        <h2>Pourquoi MyMap</h2>
        <p> MyMap allows you to find a roundly available guide immediately around you.</p>
        <p> Easier and smarter way to find a local guide when traveling </p>

      </div>
    </div>
    <div class="col-6">
      <div class="devenir container">
        <h2>Become Guide</h2>
        <p> Thanks to MyMap, you can also become a guide to others.</p>
        <p> Earn money by showing people how much you city is the best around the world</p>
      </div>
    </div>
  </div>
</div>
