.contour {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 800px;
  border-color: black;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 6px;
  margin-top:80px;
}

.bgh {
  background-image: url('Mongol 2.jpg');
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  position: relative;
}

.btn-outline-info{
  margin-left: 800px;
  color: black;
}

.presentation{
  margin-top: 70px;
  margin-bottom: 50px;
}

.pourquoi  {
  font: center;
}
