.contour {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 800px;
  border-color: black;
  border-radius: 5px;
  padding: 6px;
  margin-top:80px;
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,.4);

}

.bgh {
  background-image: url('mongol.png');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  position: relative;
}

.btn-outline-info{
  margin-left: 800px;
  color: black;
}

.presentation{
  margin-top: 70px;
  margin-bottom: 50px;
}

.pourquoi  {
  font: center;
}
