.bgh {
  padding-top: 70px;
  margin: 0;
  background-image: asset-url('mongolfiere.jpeg');
  height: 93vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  position: relative;
  .contour {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 1px 1px 8px 3px rgba(0,0,0,.4);
  }
}

.presentation{
  margin-top: 70px;
  margin-bottom: 50px;
}

.pourquoi  {
  font: center;
}

.pins{
  color: #ea728c;
  font-size: 50px;
  &:hover{
    color: #ea728c;
  }
}
