.container{
  width: 900px;
  margin: auto;
  border-color: black;
  background-color: white;
}

.form-actions {
  width: 6px;
  margin-left: 110px;
  width: 20px;
}
.btn {
  background-color: #007bff;
  border-color: none;
  border-radius:  27px;
  width: 170px;
  align: center;
  &:hover {
    background-color: #28a745;
  }
}

.btn a {
  color: white;

}
.btn-custom{
background-color: #007bff;
&:hover {
  background-color: #28a745;
}
}

.welcome {
  font-style: 20px;
  font-size: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  align: center;
  color: white;
  font-weight: bold;

}
  .bg{
    background-image: asset-url('friends.png');
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
  }
.elements {
  margin-right: 580px;
}

.header-home{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    width: 100%;
    z-index: 1;
  }
  .explications{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .half-left {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 65px;  }

  i.highlighted {
    background-color: #ffa5006b;
    background-size: 240px;
  }

  .half-right{
    background-image: asset-url('hobbit.png');
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 4px;
  }

  .half-right-2 {
    background-image: asset-url('creeks.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 4px;
    width: 400px;
  }

  .explications2{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .geo {
    width: 280px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 65px;
  }


  .pict{
    background-image: asset-url('locate.png');
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 4px;
    width: 400px;
  }

