  .dashboard-card{
    border-radius: 5px;
    margin: 50px;
    padding: 20px;
    text-align: center;
    width: auto;
    background-color: white;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,.4);
  }

.container-fluid{
  background-color: lightgrey;
  margin: 0;
}
