.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 7vh;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 30px;
}

#myway{
  font-family: 'Dancing Script', cursive;
  font-size: 38px;
  margin-left: 180px;
}
