.image{
  background-size: cover;
  width: 100%;
  height: 500px;
  position: center center;
}

.container-fluid{
  position: relative;
  .booking-form{
    width: 322px;
    height: 370px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ededed;
    position: absolute;
    top: -117px;
    right: 46px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,.4);
  }
  .link{
    width: 322px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ededed;
    position: absolute;
    top: 300px;
    right: 46px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,.4);
  }
  .user-show{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    position: absolute;
    top: -55px;
    left: 55px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,.4);
  }
}

.fas{
  font-size: 25px;
  color: grey;
  &:hover{
    color: black;
  }
}
